body {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
}

#titre {
  width: 900px;
  height: 50px;
  text-align: center;
  background-color: rgb(81, 61, 213);
}

#st {
  margin-top: 0px;
  font-size: xx-large;
  color: aliceblue;
}

#smps {
  width: 900px;
  height: 15cm;
}

#middle {
  display: flex;
  background-color: aliceblue;
  width: fit-content;

  justify-content: space-between;

  margin-left: 400px;
  margin-right: 400px;
}

article {
  width: 465px;
  height: fit-content;
  padding: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: aliceblue;
}

#mg {
  width: 5cm;
  height: 7cm;
}

ul {
  background-color: rgb(81, 61, 213);
  margin-top: 30px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}

/* La liste */
#el {
  color: aliceblue;
}

/* La part de Matt  */
aside {
  width: 245px;
  background-color: rgb(81, 61, 213);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: center;
}

#name {
  font-style: italic;
  font-size: larger;
  font-weight: bold;
}

#bottom {
  background-color: rgb(81, 61, 213);
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 0px;
  text-align: center;
}
