body {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  background-color: chartreuse;
}

#items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#titre {
  width: 1300px;
  height: 50px;
  /* margin: 0px auto;
  margin-top: 0px; */
  text-align: center;
  background-color: cornflowerblue;
}

#st {
  margin-top: 0px;
  font-size: xx-large;
  color: aliceblue;
}

#smps {
  width: 1300px;
  height: 15cm;
}

#middle {
  display: flex;
  background-color: aliceblue;
  width: fit-content;

  justify-content: space-between;
}

article {
  /*    
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10cm;
    margin-left: 10cm; */
  width: 883px;
  height: fit-content;
  padding: 1em;
  margin: 0 auto 0;
  background-color: aliceblue;
}

#mg {
  width: 5cm;
  height: 7cm;
}

/* #img1 {
  display: flex;
  /* margin: 0px 400px; */
/* justify-content: center;
  width: 1300px;
  height: 566.91px;
} */

ul {
  background-color: rgb(81, 61, 213);
  /* padding-top: 30px; */
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}

#el {
  color: aliceblue;
}

aside {
  width: 250px;
  background-color: rgb(81, 61, 213);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: center;
}
figcaption {
  margin-left: 30px;
}
